.header{
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 120px;
  &__nav{
    position: absolute;
    background: #4a2b33;
    width: 100vw;
    height: 100%;
  }
  &__nav-container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 50px 0 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__title{
    font-family: 'Inter',sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 0;
    color: #D27487;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  &__list{
    display: flex;
    column-gap: 20px;
  }
  &__item{
    font-family: 'Inter',sans-serif;
     a{
       font-size: 15px;
       font-weight: 400;
       line-height: 1.5;
       color: #D27487;
       &:hover{
         color: #cd93a0;
       }
     }
  }
  &__item-icon{
    font-size: 24px;
    color: #D27487;
    cursor: pointer;
    &:hover{
      color: #cd93a0;
      transform: scale(1.1);
    }
  }
  &__burger{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
    width: 35px;
    height: 30px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: column;
    span{
      height: 2px;
      width: 100%;
      background: #D27487;
    }
  }
}

@media (max-width: 768px){
  .header{
    &__nav-container{
      padding: 0;
    }
    &__burger{
      display: flex;
    }
    &__list{
      display: none;
    }
  }
}
@media (max-width: 375px){
  .header{
    height: 80px;
    &__title{
      font-size: 24px;
    }
    &__burger{
      width: 25px;
      height: 20px;
      left: 10px;
    }
  }
}