.gallery{
  min-height: 672px;
  &__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    grid-gap: 40px;
    padding: 150px 50px 120px;
  }
  &__box-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__box-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__box-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 1200px){
  .gallery{
    min-height: 500px;
    &__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 250px;
      grid-gap: 35px;
      padding: 100px 30px 80px;
    }
  }
}
@media (max-width: 992px){
  .gallery{
    min-height: 500px;
    &__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 200px;
      grid-gap: 20px;
      padding: 60px 10px 30px;
    }
  }
}
@media (max-width: 650px){
  .gallery{
    min-height: 400px;
    &__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 150px;
      grid-gap: 10px;
      padding: 40px 10px 20px;
    }
  }
}
@media (max-width: 576px){
  .gallery{
    min-height: 400px;
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: 20px;

      //grid-template-columns: 1fr 1fr;
      //grid-auto-rows: 150px;
      //grid-gap: 10px;
      padding: 40px 10px 20px;
    }
    &__box-1,&__box-2{
      height: 200px;
    }
    &__box-3{
      height: 400px;
    }
  }
}