.price{
  flex: 0 1 50%;
  &__block{
    background: #fff;
    padding: 50px 15%;
    text-align: center;
  }
  &__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 70px;
  }
  
  &__item{
    margin-bottom: 30px;
    &-title{
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &-components{
      margin-bottom: 10px;
    }
    &-price{
      font-weight: 700;
      font-size: 18px;
    }
  }
}

@media (max-width: 1400px) {
  .price{
    &__block{
      width: 100%;
    }
  }
}
@media (max-width: 576px) {
  .price{
    &__block{
      width: 100%;
      padding: 50px 10px;
    }
  }
}
