*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.container{
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  //padding: 0 20px;
}
@import "Layout/Header/header";
@import "Pages/Catalog/catalog";
@import "Pages/Home/home";
@import "Pages/About/about";
@import "Pages/Catalog/catalog";
@import "Pages/Menu/menu";
@import "Pages/Price/price";
@import "Pages/Schedule/schedule";
@import "Pages/Gallery/gallery";
@import "Pages/Award/award";
@import "Layout/Footer/footer";
